In [ ]:
#For interarrival time
from scipy.stats import *
inter_a_time = poisson.rvs(mu=5.6, size=20)
from operator import add

In [ ]:
inter_a_time[0]=0
print(inter_a_time)

[ 0  8  2  5  6 10  4  4  4  6  5  4  7  6  7  7  9  8  7  4]

In [ ]:
#For service time
data_expon = expon.rvs(scale=0.5,loc=5,size=20)

In [ ]:
service_time=[int(data_expon) for data_expon in data_expon]

In [ ]:
print(service_time)

[5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 7, 5, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
a_time=[]
j=0
for i in range(0,len(inter_a_time)):
    j+=inter_a_time[i]
    a_time.append(j)
     
print(a_time)

[0, 8, 10, 15, 21, 31, 35, 39, 43, 49, 54, 58, 65, 71, 78, 85, 94, 102, 109, 113]

In [ ]:
time_s_end = []
for i in range(0, len(a_time)):
    time_s_end.append(a_time[i] + service_time[i])

In [ ]:
print ("Resultant list is : " + str(time_s_end))

Resultant list is : [5, 13, 15, 20, 27, 36, 40, 44, 48, 54, 60, 65, 70, 76, 83, 90, 99, 107, 114, 118]

In [ ]:

service_time_begin = []
for i in range(0,19):
  if a_time[i]> time_s_end[i-1]:
    service= a_time[i]
  else: service= time_s_end[i-1]
  service_time_begin.append(service)

In [ ]:
service_time_begin[0]=0
print( service_time_begin)

[0, 8, 13, 15, 21, 31, 36, 40, 44, 49, 54, 60, 65, 71, 78, 85, 94, 102, 109]

In [ ]:
A=[int(service_time_begin) for service_time_begin in service_time_begin]
print(type(A[0]))
print(A)

<class 'int'>
[6, 9, 12, 17, 24, 29, 37, 43, 49, 60, 65, 69, 76, 84, 90, 96, 102, 103]

In [ ]:
waiting_time=[0]
for i in range(0, len(A)):
  wt= A[i]-a_time[i]
  waiting_time.append(wt)

In [ ]:
print(waiting_time)

[0, 5, 5, 6, 5, 7, 5, 8, 6, 6, 12, 5, 7, 7, 8, 6, 8, 6, 5]

In [ ]:
spend_in_system=[]
for i in range(0,len(waiting_time)):
  ss=service_time[i]+waiting_time[i]
  spend_in_system.append(ss)

In [ ]:
print(spend_in_system)

[5, 10, 10, 11, 11, 12, 10, 13, 11, 11, 18, 12, 12, 12, 13, 11, 13, 11, 10]

In [ ]:
idle_time=[]
for i in range(0,18):
  if a_time[i+1]> time_s_end[i]:
    it = a_time[i+1]- time_s_end[i]
  else: it= 0
  idle_time.append(it)

In [ ]:
print(idle_time)

[0, 0, 1, 0, 1, 0, 3, 1, 0, 7, 0, 0, 2, 3, 0, 3, 0, 0]